.cards {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  margin: 100px auto 95px;
  position: relative;

  &__buttons {
    position: absolute;
    top: 108%;
  }
  &__button {
    width: 30px;
    margin-right: 10px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }
}
