.card {
  border: 1px solid #d3d8e4;
  padding: 30px;
  position: relative;

  &__badge {
    padding: 6px 15px 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    position: absolute;
    top: 12px;
    left: 0;
    &_light {
      background-color: #00b6dd;
    }
    &_blue {
      background-color: #081580;
    }
  }
  &__content {
    // margin: 20px 0 30px;
    // min-height: 178px;
    margin: 20px 0 0;
    min-height: 208px;
  }
  &__author {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
  &__title {
    margin: 6px 0 16px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.2px;
  }
  &__description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.8px;
  }
  &__button {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: center;
    padding: 9px 35px 11px;
    border: none;
    margin-top: auto;
    cursor: pointer;
  }
}
